<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" class="back-btn text-align">
      <img src="assets/icon/Back_Arrow.svg" alt="" class="back-icon" />
      Location
    </ion-button>
    <ion-title></ion-title>
    <ion-buttons slot="end" class="wid-ht-header-btns"> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-div">
    <div class="map-wrapper">
      <div #map id="map"></div>
      <div id="map_center">
        <img src="assets/icon/Map_pin.svg" alt="" />
      </div>
    </div>

    <!-- <div class="address-card">
      <ion-row>
        <ion-col size="2" class="flex-center">
          <img src="assets/icon/Location.svg" alt="" class="location-icon" />
        </ion-col>
        <ion-col size="8">
          <p class="location-head">Your current location is</p>
          <p class="location-add">{{ address }}</p>
        </ion-col>
        <ion-col size="2" class="flex-center">
          <img src="assets/icon/edit.svg" alt="" class="edit-icon" />
        </ion-col>
      </ion-row>
    </div> -->
  </div>
</ion-content>

<ion-footer>
  <p class="footer-txt">to change place the pointer on a new location and press save</p>
  <ion-button class="order-btn" (click)="saveNewLocation()">save new location</ion-button>
</ion-footer>
