.content-div {
  padding: 0 10px;
}

.back-btn {
  --background: transparent;
  --color: #340815;
  --box-shadow: none;
  font-size: 16px;
  margin-left: 5px;
  text-transform: capitalize;
  font-weight: bold;
}

.back-icon {
  font-size: 15px;
  height: 8px;
  width: 8px;
  color: #340815;
  margin-right: 10px;
}

#map_canvas {
  width: 90%;
  height: 80%;
  border: 1px solid red;
}

#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.map-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  #map {
    height: 100%;
  }

  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 55%;
    left: 54%;
    margin-left: -21px;
    margin-top: -41px;
  }
}

.address-card {
  background: #ffffff !important;
  background-color: #ffffff !important;
  position: relative;
  top: 30px;
  margin: 0 25px;
  border-radius: 3px;
  padding: 5px 0;
  // box-shadow: 0px 1px 5px #ffffff;

  .location-icon {
    filter: opacity(0.5) drop-shadow(0 0 0 #8d1b3d) contrast(111%) brightness(255%);
  }

  .edit-icon {
    height: 40px;
    width: 28px;
    padding: 7px;
    border-radius: 50%;
    filter: opacity(1) drop-shadow(0 0 0 #c7b0b7) contrast(0%) brightness(150%);
    float: right;
    margin-right: 5px;
  }

  .location-head {
    font-size: 12px;
    font-weight: bold;
    color: #8d1b3d;
    margin-bottom: 6px;
  }

  .location-add {
    font-size: 14px;
    font-weight: bold;
    color: #340815;
    margin-top: 0;
    text-transform: capitalize;
  }
}

ion-footer {
  padding: 0 25px;
  background: #ffffff;
  color: #62605c;

  .footer-txt {
    text-align: center;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .order-btn {
    text-transform: capitalize;
    font-size: 14px;
    color: #ffffff;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 25px;
    --background: #8d1b3d;
    --border-radius: 10px;
    --padding-top: 23px;
    --padding-bottom: 23px;
  }
}
