.content-div {
  padding: 0 25px;
}

.back-btn {
  --background: transparent;
  --color: #340815;
  --box-shadow: none;
  font-size: 16px;
  margin-left: 5px;
  text-transform: capitalize;
  font-weight: bold;

  .back-icon {
    margin-right: 10px;
  }
}

.picker-div {
  height: 45vh;
  border: 1px solid #e8e5e5;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;

  .bor-rigth {
    border-right: 1px solid #fceef2;
  }

  .slides-posi {
    height: 40vh;
  }

  .picker-txt {
    font-size: 17px;
    color: #8d1b3d;
    font-weight: bold;
    margin: 0 0 5px 0;
  }

  .picker-minute {
    margin-left: 26%;
  }

  ion-col {
    padding: 0;
  }

  .hrs-list {
    font-size: 35px;
    color: #fceef2;
    letter-spacing: 5px;
    font-weight: bold;
  }

  .selected-hrs {
    color: #8d1b3d;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: bold;
  }

  .hrs {
    font-weight: bold;
    color: #8d1b3d;
    font-size: 18px;
  }
}

.svg-icon {
  width: 55%;
  margin-left: 10%;
  filter: opacity(0.5) drop-shadow(0 0 0 #8d1b3d) contrast(111%) brightness(255%);
}

.card-row {
  padding: 12px 0px;
  background: #fceef2;
  border-radius: 8px;
}

.order-lft-time {
  font-size: 13px;
  font-weight: bold;
  color: #8d1b3d;
  margin: 0;
}

.order-desc {
  font-size: 12px;
  line-height: 1.5em;
  margin: 5px 0 0 0;
  color: #8e898a;
}

.desc-txt {
  font-size: 12px;
  color: #8e898a;
  margin-top: 1em;
  text-align: center;
  line-height: 1.5em;

  span {
    color: #8d1b3d;
    font-weight: bold;
    font-size: 11px;
  }
}

.content-set {
  justify-content: center;
}

ion-footer {
  padding: 2px 15px 10px 15px;
  .btn-div {
    text-align: center;
  }
}
