<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" class="back-btn text-align">
      <img src="assets/icon/Back_Arrow.svg" alt="" class="back-icon" />
      Order Validity
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="content-div">
      <ion-row class="card-row text-align">
        <ion-col size="2" class="flex-center">
          <img src="assets/icon/Order_validity.svg" alt="" class="svg-icon" />
        </ion-col>
        <ion-col size="10">
          <p class="order-lft-time">All orders are cleared after 24 hours.</p>
          <p class="order-desc">
            Please choose duration for time period since order was placed by customer
          </p>
        </ion-col>
      </ion-row>

      <div class="picker-div">
        <ion-row>
          <ion-col size="4" class="bor-rigth">
            <ion-slides
              class="slides-posi"
              [options]="slideOptsOne"
              #hourSlide
              (ionSlideDidChange)="hourChanged()"
            >
              <ion-slide *ngFor="let hrs of hoursArr; let i = index">
                <p [ngClass]="hoursArr[i].isActive == true ? ' selected-hrs' : 'hrs-list'">
                  {{ hrs.hrs }}
                </p>
              </ion-slide>
            </ion-slides>
          </ion-col>
          <ion-col size="4" class="bor-rigth">
            <ion-slides
              class="slides-posi"
              [options]="slideOptsOne"
              #minuteSlide
              (ionSlideDidChange)="minuteChanged()"
            >
              <ion-slide *ngFor="let item of minutesArr; let i = index">
                <p [ngClass]="minutesArr[i].isActive == true ? ' selected-hrs' : 'hrs-list'">
                  {{ item.minute }}
                </p>
              </ion-slide>
            </ion-slides>
          </ion-col>
          <ion-col size="4" class="text-align content-set">
            <p class="hrs">hrs</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="text-center">
            <p class="picker-txt">Hour</p>
          </ion-col>
          <ion-col size="4" class="text-center">
            <span class="picker-txt">Minutes</span>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
      </div>
    </div>
  </ion-list>
</ion-content>

<ion-footer class="footer-btn">
  <p class="desc-txt">
    You will now see only orders that were placed within
    <br />
    <span class="time">{{ hours }} : {{ minutes }} hrs</span>
  </p>
  <div class="btn-div">
    <ion-button class="order-btn" (click)="saveValidity()">Save Changes</ion-button>
  </div>
</ion-footer>
