<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" class="back-btn text-align">
      <img src="assets/icon/Back_Arrow.svg" alt="" class="back-icon" />
      Default View Range
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="content-div">
      <ion-row class="card-row text-align">
        <ion-col size="2" class="flex-center">
          <img src="assets/icon/default_view_range.svg" alt="" class="svg-icon" />
        </ion-col>
        <ion-col size="10">
          <p class="order-lft-time">Values are set to default for view range</p>
          <p class="order-desc">To change please select from below</p>
        </ion-col>
      </ion-row>

      <div class="order-row">
        <p class="order-head">Distance</p>
        <div class="text-align">
          <ion-button
            *ngFor="let distace of distances"
            class="text-align"
            [ngClass]="distace.isActive == true ? 'btn-active' : ''"
            (click)="selectedDistance(distace)"
            >{{ distace.val }}</ion-button
          >
        </div>
      </div>

      <div class="order-row">
        <p class="order-head">Price</p>
        <div class="text-align" *ngIf="country == 'Qatar'">
          <ion-button
            *ngFor="let price of prices"
            class="text-align"
            [ngClass]="price.isActive == true ? 'btn-active' : ''"
            (click)="selectedPrices(price)"
            >{{ price.val }}</ion-button
          >
        </div>
        <div class="text-align" *ngIf="country == 'India'">
          <ion-button
            *ngFor="let price of pricesIndia"
            class="text-align"
            [ngClass]="price.isActive == true ? 'btn-active' : ''"
            (click)="selectedPrices(price)"
            >{{ price.val }}</ion-button
          >
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>

<ion-footer class="footer-btn">
  <ion-button class="order-btn" (click)="saveChanges()">Save Changes</ion-button>
</ion-footer>
