.content-div {
  padding: 0 15px;
}

.back-btn {
  --background: transparent;
  --color: #340815;
  --box-shadow: none;
  font-size: 16px;
  margin-left: 5px;
  text-transform: capitalize;
  font-weight: bold;

  .back-icon {
    margin-right: 10px;
  }
}

.svg-icon {
  width: 40%;
  margin-left: 10%;
  filter: opacity(0.5) drop-shadow(0 0 0 #8d1b3d) contrast(111%) brightness(255%);
}

.card-row {
  padding: 12px 0px;
  background: #fceef2;
  border-radius: 8px;
}

.order-lft-time {
  font-size: 13px;
  font-weight: bold;
  color: #8d1b3d;
  margin: 0;
}

.order-desc {
  font-size: 12px;
  line-height: 1.5em;
  margin: 5px 0 0 0;
  color: #8e898a;
}

.order-row {
  margin: 20px 0 40px 0;

  .order-head {
    font-size: 12px;
    font-weight: bold;
    color: #8d1b3d;
    margin: 20px 0;
  }

  ion-button {
    --background: #ffffff;
    --color: #8e898a;
    --box-shadow: none;
    margin: 0;
    text-transform: unset;
    font-size: 10px;
    border: 1px solid #c7b0b7;
    border-radius: 5px;
    --border-radius: 5px;
    --padding-end: 8px;
    --padding-start: 8px;
    margin-right: 7px;
    height: 4vh;
    font-weight: bold;
  }

  .btn-active {
    --background: #8d1b3d;
    --color: #ffffff;
  }
}
