<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" class="back-btn text-align">
      <img src="assets/icon/Back_Arrow.svg" alt="" class="back-icon" />
      Order #{{ orderDetail.orderCrtId }}
    </ion-button>
    <ion-title></ion-title>
    <ion-buttons slot="end" class="wid-ht-header-btns"> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="content-div">
      <div class="card-container sticky">
        <div class="card">
          <ion-row class="contact-row text-align">
            <ion-col size="10">
              <div class="text-align">
                <img src="assets/icon/User.svg" alt="" class="contact-icon" />
                <p class="username">{{ customerDetail.fullName }}</p>
              </div>
              <div class="text-align">
                <img src="assets/icon/Call.svg" alt="" class="call-icon" />
                <p class="username" (click)="pressEvent()">{{ customerDetail.countryCode }} - {{ customerDetail.phone_number }}</p>
              </div>
              <div class="text-align">
                <img src="assets/icon/clock.svg" alt="" class="contact-icon" />
                <p class="username">
                  {{ orderDetail.createdAt | date: "d MMM yyyy" }} |
                  {{ orderDetail.createdAt | date: "h:mm a" }}
                </p>
              </div>
              <p *ngIf="orderDetail.status == 'dispatched'" class="username add-left-pad">
                Delivery: 30 mins to 1 hour
              </p>
            </ion-col>
            <ion-col size="2" class="no-padding">
              <div>
                <div class="cart-btn flex-center" (click)="pressItem()">
                  <span class="item-count">{{ itemCounts }}</span>
                </div>
                <p class="cart-txt">Items</p>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="estimate-row">
            <div class="line-container">
              <div class="line"></div>
            </div>
            <ion-col size="8" class="text-align">
              <p class="estimate-txt">Estimate Price</p>
            </ion-col>
            <ion-col size="4">
              <p class="price-txt">
                {{ products[0].currency }}
                <span class="price">{{
                  checkFloat(totalPrice) == false ? (totalPrice | number: "1.2-2") : totalPrice
                }}</span>
              </p></ion-col
            >

            <div class="line-container">
              <div class="line"></div>
            </div>
          </ion-row>

          <ion-row class="social-div">
            <ion-col size="7">
              <p class="username">Contact Customer</p>
            </ion-col>
            <ion-col size="5" class="flex-center">
              <div class="text-align">
                <a class="social-btn">
                  <img src="assets/icon/whatsapp.svg" alt="" class="social-icon" (click)="goWhatsapp()" />
                </a>
                <a href="tel:{{ customerDetail.countryCode }}{{ customerDetail.phone_number }}">
                  <img src="assets/icon/Call.svg" alt="" class="social-icon" />
                </a>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <div class="text-align">
          <img
            src="assets/icon/Location.svg"
            (click)="goToMap()"
            class="svg-icon"
          />
          <p class="additional-txts">
            Order Status :
            <span class="items">{{ orderDetail.status }}</span>
          </p>
        </div>
      </div>

      <div class="items-div">
        <div *ngIf="this.orderDetail.status == 'placed'">
          <ion-row class="row-div text-align" *ngFor="let item of products; let i = index">
            <ion-col size="1" class="flex-cener">
              <ion-checkbox
                mode="md"
                checked
                (ionChange)="checkItem($event)"
                [value]="item"
              ></ion-checkbox>
            </ion-col>
            <ion-col size="2" class="flex-cener">
              <div class="img-div flex-center">
                <img src="{{ photo_url }}{{ item.imgUrl }}" alt="" class="product-img" />
              </div>
            </ion-col>
            <ion-col size="3" class="flex-cener">
              <div class="item-desc">
                <p class="product-desc">{{ item.brand }}</p>
                <h6 class="product-name">{{ item.productName }}</h6>
                <p class="product-unit">
                  {{ item.qty }} {{ item.unit }}
                  <span *ngIf="item.pack != 0">X {{ item.pack }} pack </span>
                </p>
              </div>
            </ion-col>
            <ion-col size="3" class="flex-center">
              <div class="text-align">
                <ion-button class="add-remove-btn" (click)="removeItem(item)">
                  <ion-icon name="remove" class="qty-icon"></ion-icon>
                </ion-button>
                <!-- <p class="qty">{{ item.itemQty }}{{productsForPlusIcon[i].itemQty}}</p> -->
                <p class="qty">{{ item.itemQty }}</p>
                <ion-button class="add-remove-btn" (click)="addItem(item)">
                  <ion-icon name="add" class="qty-icon"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
            <ion-col size="3">
              <p class="product-price">
                {{ item.currency }}
                {{
                  checkFloat(item.customerPrice) == false
                    ? (item.customerPrice | number: "1.2-2")
                    : item.customerPrice
                }}
              </p>
            </ion-col>
          </ion-row>
          <p class="additional-txts" *ngIf="additionalItems">
            Additional Items : <br />
            <span class="items">{{ additionalItems }}</span>
          </p>
          <!-- <p class="additional-txts" *ngIf="orderDetail.isPartialOrder == true">Partial Order</p> -->
        </div>

        <div *ngIf="this.orderDetail.status !== 'placed'">
          <ion-row class="row-div text-align" *ngFor="let item of products">
            <ion-col size="2" class="flex-cener">
              <div class="img-div flex-center">
                <img src="{{ photo_url }}{{ item.imgUrl }}" alt="" class="product-img" />
              </div>
            </ion-col>
            <ion-col size="4" class="flex-cener">
              <div class="item-desc">
                <p class="product-desc">{{ item.brand }}</p>
                <h6 class="product-name">{{ item.productName }}</h6>
                <p class="product-unit">
                  {{ item.qty }} {{ item.unit }}
                  <span *ngIf="item.pack != ''">X {{ item.pack }} pack </span>
                </p>
              </div>
            </ion-col>
            <ion-col size="3" class="flex-center">
              <p class="qty">{{ item.itemQty }}</p>
            </ion-col>
            <ion-col size="3">
              <p class="product-price">
                {{ item.currency }}
                {{
                  checkFloat(item.customerPrice) == false
                    ? (item.customerPrice | number: "1.2-2")
                    : item.customerPrice
                }}
              </p>
            </ion-col>
          </ion-row>
          <p class="additional-txts" *ngIf="additionalItems">
            Additional Items : <br />
            <span class="items">{{ additionalItems }}</span>
          </p>
          <!-- <p class="additional-txts" *ngIf="orderDetail.isPartialOrder == true">Partial Order</p> -->
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>

<ion-footer class="flex-center footer-btn">
  <ion-button class="order-btn" *ngIf="orderDetail.status == 'placed'" (click)="dispatch()"
    >Dispatch</ion-button
  >

  <!-- <ion-button
    *ngIf="
      orderDetail.orderActive == false &&
      (orderDetail.subStatus == 'preparing' || orderDetail.subStatus == 'readyToDeliver')
    "
    class="order-btn fs-12"
    (click)="changeOrderStatus('picked')"
    [disabled]="orderDetail.status == 'delivered' || orderDetail.status == 'dissatisfied'"
    >Picked up</ion-button
  > -->
  <!-- <ion-button
    *ngIf="
      deliverDisatisfy == false &&
      orderDetail.orderActive == false &&
      orderDetail.subStatus == 'readyToDeliver'
    "
    class="order-btn fs-12"
    (click)="changeOrderStatus('preparing')"
    >Preparing</ion-button
  > -->
  <!-- [disabled]="orderDetail.status == 'delivered' || orderDetail.status == 'dissatisfied'" -->
  <ion-button
    *ngIf="
      deliverDisatisfy == false &&
      orderDetail.orderActive == false &&
      orderDetail.subStatus == 'preparing'
    "
    class="order-btn fs-12"
    (click)="changeOrderStatus('readyToDeliver')"
    >Ready to deliver</ion-button
  >
  <!-- <ion-button
    *ngIf="
      deliverDisatisfy == false &&
      orderDetail.orderActive == false &&
      orderDetail.subStatus == 'preparing'
    "
    class="order-btn fs-12"
    (click)="changeOrderStatus('readyToDeliver')"
    >Ready to deliver</ion-button
  > -->
  <!-- [disabled]="orderDetail.status == 'delivered' || orderDetail.status == 'dissatisfied'" -->
  <ion-button
    class="order-btn fs-12"
    [disabled]="orderDetail.status == 'delivered' || orderDetail.status == 'dissatisfied'"
    (click)="delivered()"
    *ngIf="
      (orderDetail.status !== 'placed' && orderDetail.subStatus == 'readyToDeliver') ||
      orderDetail.status == 'delivered'
    "
    >Delivered</ion-button
  >
  <!-- <ion-button
    class="order-btn fs-12"
    [disabled]="orderDetail.status == 'delivered' || orderDetail.status == 'dissatisfied'"
    (click)="delivered()"
    *ngIf="orderDetail.status == 'delivered'"
    >Delivered</ion-button
  > -->
  <ion-button
    class="order-btn fs-12"
    [disabled]="orderDetail.status == 'dissatisfied' || orderDetail.status == 'delivered'"
    *ngIf="orderDetail.status == 'dissatisfied'"
    >Dissatisfied</ion-button
  >
</ion-footer>
