.content-div {
  padding: 0 10px;
}

.back-btn {
  --background: transparent;
  --color: #340815;
  --box-shadow: none;
  font-size: 16px;
  margin-left: 5px;
  text-transform: capitalize;
  font-weight: bold;
}

.back-icon {
  font-size: 15px;
  height: 8px;
  width: 8px;
  color: #340815;
  margin-right: 10px;
}

.add-left-pad {
  padding-left: 9% !important;
}

.card-container {
  background: #ffffff;
  padding-bottom: 2px;

  .svg-icon {
    filter: opacity(0.8) drop-shadow(0 0 0 #8d1b3d) contrast(97%) brightness(477%);
    margin-top: 5px;
  }
}

.estimate-row {
  background: #932747;
}

.card {
  background: #8d1b3d;
  border-radius: 15px;
  padding: 10px 0;
  margin-bottom: 5px;

  .add-pad {
    padding-left: 30px;
    padding-bottom: 10px;
  }

  .contact-row {
    padding-left: 25px;

    .cart-btn {
      background-image: url("../../../assets/icon/Cart.png");
      background-repeat: no-repeat;
      text-align: center;
      width: 28px;
      height: 30px;
      background-size: cover;
      margin-left: -30%;
      // margin-left: 15%;
    }
  }

  .username {
    color: #c7b0b7;
    margin: 5px 0;
    font-size: 12px;
  }

  .contact-icon {
    width: 5%;
    margin-right: 5%;
    filter: opacity(1) drop-shadow(0 0 0 #c7b0b7) contrast(35%) brightness(225%);
    padding: 10px 0px;
  }

  .call-icon {
    width: 4%;
    margin-right: 5%;
    filter: opacity(1) drop-shadow(0 0 0 #c7b0b7) contrast(35%) brightness(113%);
  }

  .cart-icon {
    width: 40%;
    margin-left: 10%;
    filter: opacity(1) drop-shadow(0 0 0 #ffffff) contrast(35%) brightness(325%);
  }

  .cart-txt {
    color: #c7b0b7;
    margin: 0px 0 0 -30%;
    font-size: 11px;
  }

  .item-count {
    font-size: 15px;
    margin-top: 7px;
    color: #c7b0b7;
  }

  .estimate-txt {
    color: #c7b0b7;
    margin: 5px 0;
    font-size: 12px;
    text-align: center;
    padding-left: 25px;
  }

  .price-txt {
    color: #c7b0b7;
    margin: 5px 0;
    font-size: 13px;
    text-align: center;
  }

  .price {
    font-size: 17px;
    color: #ffffff;
    margin-left: 5%;
  }

  .social-div {
    padding-left: 25px;
    padding-top: 10px;
  }

  .social-icon {
    filter: opacity(1) drop-shadow(0 0 0 #ffffff) contrast(35%) brightness(325%);
  }

  .social-btn {
    margin: 0px 15px 0 20px;
  }

  .line-container {
    position: relative;
    top: 0;
    left: 0px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to left, transparent 50%, #9c6464 50%);
    background-size: 10px 100%;
  }
}

ion-checkbox {
  --background-checked: #8d1b3d;
  --border-color-checked: #8d1b3d;
  --border-color: #c7b0b7;
}

.items-div {
  border-top: 1px solid #f7f1f1;
}

.row-div {
  border-bottom: 1px solid #f7f1f1;
}

.img-div {
  background: #f7f7f7;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.product-img {
  width: 70%;
  height: 45px;
}

.add-remove-btn {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0;
  --border-radius: 6px;
  --color: #ffffff;
  --background: #8d1b3d;
  --box-shadow: none;
  height: 21px;
}

.qty-icon {
  font-size: 20px;
}

.add-top-pad {
  padding-top: 10px !important;
}

.additional-txts {
  font-size: 14px;
  padding-left: 10px;
  text-transform: capitalize;
  color: #340815;
  font-weight: bold;
  margin: 0;

  .items {
    color: #8d1b3d;
    font-size: 12px;
  }
}

.qty {
  margin: 0 7px;
  color: #8e898a;
  font-size: 14px;
}

.delete-icon {
  width: 32%;
  filter: opacity(1) drop-shadow(0 0 0 #e7dde0) contrast(25%) brightness(220%);
}
.item-desc {
  // height: 60px;
  p {
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-desc {
    color: #8e898a;
    font-size: 10px;
    margin: 10px 0 0 0;
  }

  .product-name {
    color: #340815;
    font-size: 11px;
    font-weight: bold;
    margin: 6px 0;
    // width: 90px !important;
  }

  .product-unit {
    color: #8e898a;
    font-size: 10px;
    margin-top: 0;
  }
}

.product-price {
  font-size: 14px;
  font-weight: bold;
  color: #340815;
  text-align: end;
}

ion-footer {
  .order-btn {
    margin: 0 2px;
  }

  .fs-12 {
    font-size: 12px !important;
  }
}
