<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-row class="profile-row">
            <ion-col size="2" class="flex-center no-padding">
              <ion-button class="profile">
                <ion-icon name="person" class="profile-icon"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="10">
              <p class="username">{{userDetail.fullName}}</p>
              <p class="contact-no">{{userDetail.phone_number}}</p>
            </ion-col>
          </ion-row>

          <div class="menu-list">
            <ion-menu-toggle
              auto-hide="false"
              class="row-item"
              [ngClass]="menu.linkActive==false ? 'row-item' : 'row-item-active'"
              (click)="selectedMenu(menu)"
              *ngFor="let menu of menuArr; let i = index"
            >
              <ion-item
                routerDirection="root"
                [routerLink]="[menu.url]"
                lines="none"
                detail="false"
              >
                <img src="assets/icon/{{menu.imgUrl}}" alt="" class="svg-icon" />
                <ion-label>{{ menu.menuName }}</ion-label>
                <ion-icon class="arrows" name="chevron-forward"></ion-icon>
              </ion-item>
            </ion-menu-toggle>
          </div>

          <div class="sub-menu">
            <ion-menu-toggle
              auto-hide="false"
              class="row-item"
              (click)="selectedSubMenu(menu)"
              [ngClass]="menu.linkActive==false ? 'row-item' : 'row-item-active'"
              *ngFor="let menu of subMenuArr; let i = index"
            >
              <ion-item
                routerDirection="root"
                [routerLink]="[menu.url]"
                lines="none"
                detail="false"
              >
                <img src="assets/icon/{{menu.imgUrl}}" alt="" class="svg-icon" />
                <ion-label>{{ menu.menuName }}</ion-label>
                <ion-icon class="arrows" name="chevron-forward"></ion-icon>
              </ion-item>
            </ion-menu-toggle>

            <ion-list auto-hide="false" class="" (click)="contDta()">
              <ion-item routerDirection="root" lines="none" detail="false">
                <img src="assets/icon/help.svg" alt="" class="contact_img" />
                <ion-label class="lbl-cls">Contact us</ion-label>
                <ion-icon class="arrows arr-clr" name="chevron-forward"></ion-icon>
              </ion-item>
            </ion-list>
            <div class="contact-div cellDiv" *ngIf="showContact == true">
              <div class="contact-inner" (click)="contactUs()">
                <img src="assets/icon/Call.svg" alt="" class="svg-icon" />
                <p class="txtCell">
                  Call
                  <ion-icon class="arrows arr-clr" name="chevron-forward"></ion-icon>
                </p>
              </div>

              <div class="multiContact" *ngIf="callOption == true">
                <div class="contact-inner" (click)="forIndia()">
                  <img src="assets/icon/Call.svg" alt="" class="svg-icon" />
                  <p class="mar-0">India</p>
                </div>
                <div class="contact-inner" (click)="forOatar()">
                  <img src="assets/icon/Call.svg" alt="" class="svg-icon" />
                  <p class="mar-0">Qatar</p>
                </div>
              </div>
              <div class="contact-inner" (click)="goWhatsapp()">
                <img src="assets/icon/whatsapp.svg" alt="" class="svg-icon" />
                <p class="mar-0">Whatsapp</p>
              </div>
              <div class="contact-inner" (click)="copyEmail()">
                <img src="assets/icon/copy.svg" alt="" class="svg-icon" />
                <p class="mar-0">Copy email</p>
              </div>
              <div class="contact-inner" (click)="sendEmail()">
                <img src="assets/icon/email.svg" alt="" class="svg-icon" />
                <p class="mar-0">Send email</p>
              </div>
            </div>

            <!-- <ion-menu-toggle auto-hide="false" class="row-item" (click)="selectedSubMenu(menu)"
              [ngClass]="menu.linkActive==false ? 'row-item' : 'row-item-active'" *ngFor="let menu of subMenuArr2; let i = index">
              <ion-item routerDirection="root" [routerLink]="[menu.url]" lines="none" detail="false" >
                <img src="assets/icon/{{menu.imgUrl}}" alt="" class="svg-icon" />
                <ion-label>{{ menu.menuName }}</ion-label>
                <ion-icon class="arrows" name="chevron-forward"></ion-icon>
              </ion-item>
            </ion-menu-toggle> -->

            <ion-list auto-hide="false" class="" (click)="visitWebsite()">
              <ion-item routerDirection="root" lines="none" detail="false">
                <img src="assets/icon/compass.png" alt="" class="contact_img" />
                <ion-label class="lbl-cls">Visit website</ion-label>
                <ion-icon class="arrows arr-clr" name="chevron-forward"></ion-icon>
              </ion-item>
            </ion-list>

            <ion-list auto-hide="false" class="" (click)="logout()">
              <ion-item routerDirection="root" lines="none" detail="false">
                <img src="assets/icon/Logout.svg" alt="" class="contact_img" />
                <ion-label class="lbl-cls">Logout</ion-label>
                <ion-icon class="arrows arr-clr" name="chevron-forward"></ion-icon>
              </ion-item>
            </ion-list>
          </div>
        </ion-list>
        <p class="version">Version {{appVersion}}</p>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
