ion-content,
ion-list,
ion-item {
  --color: #ffffff;
  --background: #8d1b3d;
  color: #ffffff;
  background: #8d1b3d;
}

.profile-row {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.profile {
  --background: #ffffff;
  --border-radius: 50%;
  --padding-start: 8px;
  --padding-end: 8px;
  --box-shadow: none;
  height: 30px;
  width: 30px;
  font-size: 12px;
  margin-left: 5px;

  .profile-icon {
    color: #8d1b3d !important;
  }
}

.username {
  font-size: 12px;
  margin: 3px 0;
  color: #c7b0b7;
  text-transform: capitalize;
}

.contact-no {
  font-size: 14px;
  margin: 3px 0;
  color: #ffffff;
}

ion-list {
  padding: 0px 0 20px 0px;
}

.menu-item {
  width: 100%;
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0 !important;
}

.row-item {
  margin: 15px 0;

  .svg-icon {
    width: 8%;
    margin-right: 20px;
    filter: opacity(0.5) drop-shadow(0 0 0 #c7b0b7) contrast(150%) brightness(900%);
  }

  ion-label {
    font-size: 15px;
    color: #c7b0b7;
  }

  .sub-menu-btn {
    font-size: 15px;
    color: #c7b0b7;
    float: left;
  }

  ion-icon {
    color: #c7b0b7;
    font-size: 16px;
  }
}

.arrows {
  font-size: 15px;
  float: right;
}

.arr-clr {
  color: #bd97a3 !important;
}

.row-item-active {
  margin: 15px 0;

  .svg-icon {
    width: 8%;
    margin-right: 20px;
    filter: opacity(0.7) drop-shadow(0 0 0 #ffffff) contrast(120%) brightness(1000%);
  }

  ion-label {
    font-size: 15px;
    color: #ffffff;
  }

  .sub-menu-btn {
    font-size: 15px;
    color: #ffffff;
    float: left;
  }

  ion-icon {
    color: #ffffff;
    font-size: 16px;
  }
}

.menu-list {
  padding-bottom: 20px;
}

.sub-menu {
  border-top: 1px solid #8c435a;
  padding-top: 20px;
}

.version {
  color: #c7b0b7;
  text-align: center;
  font-size: 10px;
  position: absolute;
  bottom: 1%;
  width: 100%;
  left: 0;
}

ion-menu ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

.contact-div {
  padding: 5px 50px;

  .svg-icon {
    width: 8%;
    margin-right: 20px;
    filter: opacity(0.5) drop-shadow(0 0 0 #c7b0b7) contrast(150%) brightness(900%);
  }
}

.contact-inner {
  padding: 7px 0;
  display: flex;
}
.mar-0 {
  margin: 0;
  color: #c2c2c2;
}

.contact_img {
  width: 8%;
  margin-right: 20px;
  filter: opacity(0.5) drop-shadow(0 0 0 #c7b0b7) contrast(150%) brightness(900%);
}

.lbl-cls {
  color: #c7b0b7;
}
.multiContact {
  margin: 0 40px;
  img {
    width: 14px !important;
    margin-right: 10px !important;
  }
}
.cellDiv {
  padding: 5px 0px !important;
  padding-left: 50px !important;
}
.txtCell {
  margin: 0;
  width: 80%;
  color: #c7b0b7;
}