<ion-content>
  <div class="content-div">
    <p class="close">
      <ion-icon name="close-outline" class="close-arrow" [ngClass]="closeClk  ? 'cls-bg':''" (click)="close()"></ion-icon>
    </p>
    <div class="main-div flex-center">
      <p class="thnaks-txt">{{showMsg}}</p>
    </div>
  </div>
</ion-content>