.content-div {
    overflow-y: hidden;
}
.close-arrow {
  float: right;
  color: #8d1b3d;
  // background-color: #c7b0b7;
  border-radius: 50%;
  padding: 2px 0px 0 0;
  font-size: 25px;
  margin-right: 6px;
  margin-top: 7px;
}

.cls-bg {
  background-color: #c7b0b7;
}

.close {
  margin: 0;
}

.main-div {
  width: 100%;
}

.img-div {
  width: 85%;
  background: #f7f7f7 !important;
  height: 190px;
  border-radius: 15px;
  box-shadow: 0px 0px 2px #e2dcdc;
}

.product-img {
  // width: 48%;
  width: 150px;
}

// pinch-zoom {
//   background: #f7f7f7;
// }

.product-name {
  color: #340815;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0 22px;
}

.inner-scroll scroll-y overscroll {
  overflow-y: hidden !important;
}
.thnaks-txt {
  padding: 20px 15px;
  color: #8d1b3d;
  text-align: center;
}