<ion-content>
  <!-- <img src="assets/imgs/android_all.png" alt="" class="back-img"> -->
  <div class="ion-text-center background-img ion-padding">
    <div *ngIf="showSuccess == false" class="content-div">
      <!-- <h1 class="logo-txt">QBAQALA</h1>
      <p class="tag-line">Simplifying Grocery Experience</p> -->
      <div class="flex-center">
        <img src="assets/imgs/logo_full_white_3.png" class="logo-img" alt="" />
      </div>

      <div class="flex-center">
        <div class="input-div">
          <form [formGroup]="formValidate">
            <ion-item>
              <ion-label position="stacked">Baqala Name</ion-label>
              <ion-input
                formControlName="fullName"
                [ngClass]="{ 'is-invalid': isSubmit && valid.fullName.errors }"
                type="text"
                placeholder="Enter full name"
              ></ion-input>
            </ion-item>
            <div class="err-msg" *ngIf="isSubmit && valid.fullName.errors">
              <small *ngIf="isSubmit && valid.fullName.errors.required">full name is required</small
              ><br />
              <small *ngIf="isSubmit && valid.fullName.errors.minlength"
                >Please enter atleast 3 charactors</small
              >
            </div>
            <ion-item>
              <ion-label position="stacked">Phone Number*</ion-label>
              <div class="codeNumberDiv">
                <ion-select class="selectCss" placeholder="" formControlName="countryCode" (ionChange)="selectCode($event)"
                [ngClass]="{ 'is-invalid': isSubmit && valid.countryCode.errors }">
                  <ion-select-option value="+91">+91</ion-select-option>
                  <ion-select-option value="+974">+974</ion-select-option>
                </ion-select>
                <ion-input
                  formControlName="phone_number"
                  [ngClass]="{ 'is-invalid': isSubmit && valid.phone_number.errors }"
                  placeholder="Enter mobile number"
                ></ion-input>
              </div>
            </ion-item>
            <div class="err-msg" *ngIf="isSubmit && valid.countryCode.errors">
              <small *ngIf="isSubmit && valid.countryCode.errors.required">Please select country code.</small>
            </div>
            <div class="err-msg" *ngIf="isSubmit && valid.phone_number.errors">
              <small *ngIf="isSubmit && valid.phone_number.errors.required"
              >Phone number is required</small><br />
              <!-- <small *ngIf="isSubmit && valid.phone_number.errors.minlength
              || isSubmit && valid.phone_number.errors.maxlength">Please enter correct phone number.</small> -->
              <!-- <small *ngIf="isSubmit && valid.phone_number.errors.minlength"
                >Phone number should be 8 digits.</small
              >
              <small *ngIf="isSubmit && valid.phone_number.errors.maxlength"
                >Phone number should be 8 digits.</small
              > -->
              <small *ngIf="isSubmit && valid.phone_number.errors.pattern"
              >Please enter only digits.</small>
            </div>
            <p class="err-msg" *ngIf="errMsg == true">
              <small *ngIf="countryCode == '+974'">Phone number, should be 8 digits.</small>
              <small *ngIf="countryCode == '+91'">Phone number, should be 10 digits.</small>
            </p>

            <ion-button class="login-btn" (click)="signup()">register</ion-button>
          </form>

          <p class="desc-txt">
            Already have an account? <span class="link" (click)="signin()">Login Here</span>
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="showSuccess == true" class="signup-success flex-center">
      <div class="svg-div">
        <img src="assets/icon/Successful.svg" alt="" class="success-icon" />
        <p class="thnks-txt">Thank You</p>
        <p class="thnks-subtxt">qBaqala will contact you shortly</p>
      </div>
    </div>
  </div>
</ion-content>
