.background-img {
  background-image: url("../../../assets/imgs/android_all.png");
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
}

.back-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.main-div {
  position: absolute;
  top: 0;
  width: 100%;
}

ion-item {
  --border-style: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  // --padding-bottom: 10px;
  --background: #8d1b3d;
  color: #ffffff;
}

.content-div {
  margin-top: 55%;
}

.logo-txt {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 36px;
  letter-spacing: 2px;
  color: #ffffff;
}

.tag-line {
  margin-top: 0;
  font-size: 14px;
  color: #ae6f81;
}

.logo-img {
  width: 75px;
}

.input-div {
  margin-top: 10px;
  width: 100%;
  padding: 0 30px;
}

ion-item.item-has-focus > ion-label {
  color: #ffffff;
  --border-style: none;
}

:host {
  ion-item {
    --highlight-color-focused: transparent;
    --highlight-background: transparent;
  }
}

ion-label {
  padding-bottom: 20px !important;
  font-size: 16px !important;
}

ion-input {
  border: 1px solid #ffffff;
  border-radius: 7px;
  --padding-start: 12px !important;
  letter-spacing: 1px;
  font-size: 15px;
}

.login-btn {
  text-transform: uppercase;
  font-size: 13px;
  color: #8d1b3d;
  width: 100%;
  font-weight: bold;
  margin-top: 30px;
  --background: #ffffff;
  --border-radius: 7px;
  --padding-top: 22px;
  --padding-bottom: 22px;
}

.desc-txt {
  font-size: 13px;
  color: #c4a8b1;
  text-align: center;
  margin-top: 4em;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: #ffffff;
}

.signup-success {
  height: 100%;
  .svg-div {
    text-align: center;
  }

  .success-icon {
    filter: opacity(1) drop-shadow(0 0 0 #ffffff) contrast(0%) brightness(200%);
    width: 70%;
  }

  .thnks-txt {
    font-size: 2em;
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .thnks-subtxt {
    font-size: 11px;
    margin-top: 5px;
    letter-spacing: 1px;
    color: #ad6e80;
    text-align: center;
  }
}

.ios {
  ion-label {
    margin-bottom: -15px !important;
    --padding-bottom: 0;
  }
}

.err-msg {
  color: #ffffff;
  letter-spacing: 1px;
  text-align: left;
  font-weight: bold;
}

.codeNumberDiv {
  display: flex;
  width: 100%;
}

.selectCss {
  border: 1px solid #efeaea;
  border-radius: 7px;
  letter-spacing: 1px;
  font-size: 13px;
  --padding-start: 12px !important;
  --placeholder-opacity: 0.2;
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
  width: 30%;
  padding: 8px;
}