<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border text-align">
    <ion-buttons slot="start" class="wid-ht-header-btns">
      <ion-menu-button class="profile-btn">
        <img src="assets/icon/Shop.svg" class="shop-img" />
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <p class="username">{{ userDetail.fullName }}</p>
      <p class="contact-no">{{ userDetail.phone_number }}</p>
    </ion-title>
    <img src="assets/icon/logomark_color.svg" slot="end" alt="" class="svg-icon" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-div">
    <div class="content-div sticky">
      <ion-row class="menu-tabs">
        <ion-col size="6" class="flex-center">
          <span
            class="menu-name"
            (click)="switchTo('floatingOrder')"
            [ngClass]="showing == 'floatingOrder' ? 'activetab' : 'deactivetab'"
            >Floating Orders</span
          >
        </ion-col>
        <ion-col size="6" class="flex-center">
          <span
            class="menu-name"
            (click)="switchTo('myOrder')"
            [ngClass]="showing == 'myOrder' ? 'activetab' : 'deactivetab'"
            >My Orders</span
          >
        </ion-col>
      </ion-row>
      <ion-icon
        name="refresh-outline"
        *ngIf="showing == 'floatingOrder'"
        class="refresh"
        (click)="refreshOrder()"
      ></ion-icon>

      <div *ngIf="showMapList == 'list'">
        <ion-row *ngIf="showing == 'floatingOrder'" class="filter-row">
          <ion-col size="3">
            <span
              class="text-align"
              *ngIf="dateSort"
              (click)="filterBy('date')"
              [ngClass]="filter == 'date' ? 'activeFilter' : 'deactiveFilter'"
              >Date <img src="assets/icon/filter.svg" alt="" class="filter-icon"
            /></span>
            <span
              class="text-align"
              *ngIf="!dateSort"
              (click)="filterBy('date')"
              [ngClass]="filter == 'date' ? 'activeFilter' : 'deactiveFilter'"
              >Date <img src="assets/icon/filter.svg" alt="" class="filter-icon"
            /></span>
          </ion-col>
          <ion-col size="3">
            <span
              class="text-align"
              *ngIf="dateSort"
              (click)="filterBy('item')"
              [ngClass]="filter == 'item' ? 'activeFilter' : 'deactiveFilter'"
              >Item <img src="assets/icon/filter.svg" alt="" class="filter-icon"
            /></span>
            <span
              class="text-align"
              *ngIf="!dateSort"
              (click)="filterBy('item')"
              [ngClass]="filter == 'item' ? 'activeFilter' : 'deactiveFilter'"
              >Item <img src="assets/icon/filter.svg" alt="" class="filter-icon"
            /></span>
          </ion-col>
          <ion-col size="3">
            <span
              class="text-align"
              *ngIf="distanceSort"
              (click)="filterBy('distance')"
              [ngClass]="filter == 'distance' ? 'activeFilter' : 'deactiveFilter'"
              >Distance <img src="assets/icon/filter.svg" alt="" class="filter-icon"
            /></span>
            <span
              class="text-align"
              *ngIf="!distanceSort"
              (click)="filterBy('distance')"
              [ngClass]="filter == 'distance' ? 'activeFilter' : 'deactiveFilter'"
              >Distance <img src="assets/icon/filter.svg" alt="" class="filter-icon"
            /></span>
          </ion-col>
          <ion-col size="3">
            <span
              class="text-align"
              *ngIf="priceSort"
              (click)="filterBy('price')"
              [ngClass]="filter == 'price' ? 'activeFilter' : 'deactiveFilter'"
              >Price <img src="assets/icon/filter.svg" alt="" class="filter-icon"
            /></span>
            <span
              class="text-align"
              *ngIf="!priceSort"
              (click)="filterBy('price')"
              [ngClass]="filter == 'price' ? 'activeFilter' : 'deactiveFilter'"
              >Price <img src="assets/icon/filter.svg" alt="" class="filter-icon"
            /></span>
          </ion-col>
        </ion-row>
      </div>

      <div class="order-filter" *ngIf="showing == 'myOrder'">
        <ion-row>
          <ion-col class="flex-center" size="4">
            <div>
              <span
                (click)="selectedNav('preparing')"
                [ngClass]="navVal == 'preparing' ? 'btn-active' : 'nav-btns'"
                >Preparing
              </span>
              <span *ngIf="navVal == 'preparing'" class="down-arrow"></span>
            </div>
          </ion-col>
          <ion-col class="flex-center" size="4">
            <div>
              <span
                (click)="selectedNav('readyToDeliver')"
                [ngClass]="navVal == 'readyToDeliver' ? 'btn-active' : 'nav-btns'"
              >
                Ready to deliver
              </span>
              <span *ngIf="navVal == 'readyToDeliver'" class="down-arrow"></span>
            </div>
          </ion-col>
          <ion-col class="flex-center" size="4">
            <div>
              <span
                (click)="selectedNav('delivered')"
                [ngClass]="navVal == 'delivered' ? 'btn-active' : 'nav-btns'"
                >Delivered</span
              >
              <span *ngIf="navVal == 'delivered'" class="down-arrow"></span>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div *ngIf="showMapList == 'map'">
      <div class="map-wrapper" *ngIf="showPin == true">
        <div #map id="shopMap"></div>
      </div>
    </div>

    <div *ngIf="showMapList == 'list'">
      <div *ngIf="showing == 'floatingOrder'">
        <p *ngIf="allOrders.length == 0" class="no-orders">No orders found.</p>
        <ion-row
          [ngClass]="order.viewStatus[userDetail.baqalaUnqId] == 1 ? '' : 'selected'"
          (click)="orderInfo(order)"
          class="floating-div text-align"
          *ngFor="let order of allOrders"
        >
          <ion-col size="3">
            <p class="date">
              {{ order.createdAt | date: "dd" }}
              <span class="month">{{ order.createdAt | date: "MMM" }}</span>
            </p>
            <p class="time">{{ order.createdAt | date: "h:mm a" }}</p>
          </ion-col>
          <ion-col size="3">
            <p class="order-no">Order #{{ order.orderCrtId }}</p>
            <p class="time">{{ order.totalProducyQty }} Items</p>
          </ion-col>
          <ion-col size="3">
            <p class="time">{{ order.distance }} Kms</p>
          </ion-col>
          <ion-col size="3">
            <span class="price"
              >{{ order.currency }} {{ order.totalPrice }}
              <!-- <span class="partial-order" *ngIf="order.isPartialOrder == true">P</span> -->
            </span>
            <ion-icon class="arrows" name="chevron-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div class="myOrder-div" *ngIf="showing == 'myOrder'">
      <div class="active-order" *ngIf="navVal == 'preparing' || navVal == 'readyToDeliver'">
        <p class="order-head">
          <!-- ACTIVE ORDERS -->
          <span *ngIf="seeAllActive == false" class="see-all" (click)="seeMoreActive()"
            >See All</span
          >
          <span *ngIf="seeAllActive == true" class="see-all" (click)="seeMoreActive()"
            >See Less</span
          >
        </p>
        <p *ngIf="activeOrders.length == 0" class="no-orders">No active orders found.</p>
        <div [ngClass]="seeAllActive ? '' : 'div-height'" *ngIf="activeOrders.length !== 0">
          <ion-row
            class="row-div text-align"
            *ngFor="let order of activeOrders"
            (click)="orderInfo(order)"
          >
            <ion-col size="2" class="flex-cener">
              <div class="img-div flex-center">
                <div>
                  <p class="order-date">{{ order.createdAt | date: "dd" }}</p>
                  <p class="order-month">{{ order.createdAt | date: "MMM" }}</p>
                </div>
              </div>
            </ion-col>
            <ion-col size="3" class="flex-cener">
              <div class="item-desc">
                <p class="order-no">Order #{{ order.orderCrtId }}</p>
                <!-- <p
                  [ngClass]="{
                    'order-dispatch':
                      order.status == 'placed' ||
                      order.status == 'dispatched' ||
                      order.status == 'dissatisfied' ||
                      order.status == 'cancelled',
                    'order-deliver': order.status == 'delivered',
                    'order-purged': order.status == 'purged'
                  }"
                >
                  {{ order.status }}
                </p> -->
              </div>
            </ion-col>
            <ion-col size="3" class="flex-center">
              <p class="qty">{{ order.totalItems }} items</p>
            </ion-col>
            <ion-col size="3">
              <p class="total-amount">{{ order.currency }} {{ order.totalPrice }}</p>
            </ion-col>
            <ion-col size="1" class="arrow-col">
              <div class="partial-div text-align">
                <!-- <span class="partial" *ngIf="order.isPartialOrder == true">P</span> -->
                <ion-icon class="arrows" name="chevron-forward"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <div class="past-order" *ngIf="navVal == 'delivered'">
        <p class="order-head">
          <!-- PAST ORDERS -->
          <span *ngIf="seeAllPast == false" class="see-all" (click)="seeMorePast()">See All</span>
          <span *ngIf="seeAllPast == true" class="see-all" (click)="seeMorePast()">See Less</span>
        </p>
        <p *ngIf="pastOrders.length == 0" class="no-orders">No past orders found.</p>
        <div [ngClass]="seeAllPast ? '' : 'div-height'" *ngIf="pastOrders.length !== 0">
          <ion-row
            class="row-div text-align"
            *ngFor="let order of pastOrders"
            (click)="orderInfo(order)"
          >
            <ion-col size="2" class="flex-cener">
              <div class="img-div flex-center">
                <div>
                  <p class="order-date">{{ order.createdAt | date: "dd" }}</p>
                  <p class="order-month">{{ order.createdAt | date: "MMM" }}</p>
                </div>
              </div>
            </ion-col>
            <ion-col size="3" class="flex-cener">
              <div class="item-desc">
                <p class="order-no">Order #{{ order.orderCrtId }}</p>
                <!-- <p [ngClass]="order.status == 'delivered' ? 'order-deliver' : ''">
                  {{ order.status }}
                </p> -->
              </div>
            </ion-col>
            <ion-col size="3" class="flex-center">
              <p class="qty">{{ order.totalItems }} items</p>
            </ion-col>
            <ion-col size="3">
              <p class="total-amount">{{ order.currency }} {{ order.totalPrice }}</p>
            </ion-col>
            <ion-col size="1" class="arrow-col">
              <div class="partial-div text-align">
                <!-- <span class="partial" *ngIf="order.isPartialOrder == true">P</span> -->
                <ion-icon class="arrows" name="chevron-forward"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
      
    </div>
  </div>
</ion-content>

<ion-footer>
  <div
    *ngIf="showing == 'floatingOrder'"
    [ngClass]="btnActive == true ? 'btn-div' : 'btn-div-active'"
  >
    <div class="text-align">
      <p
        class="map-btn activeMap text-align"
        (click)="selectTo('map')"
        [ngClass]="showMapList == 'map' ? 'activeMap' : 'deactiveMap'"
      >
        <img
          class="active-icon"
          src="assets/icon/map.svg"
          [ngClass]="showMapList == 'map' ? 'active-icon' : 'deactive-icon'"
          alt=""
        />
        Map
      </p>
      <p
        (click)="selectTo('list')"
        [ngClass]="showMapList == 'list' ? 'activeMap' : 'deactiveMap'"
        class="list-btn text-align"
      >
        <img
          src="assets/icon/list.svg"
          [ngClass]="showMapList == 'list' ? 'active-icon' : 'deactive-icon'"
          alt=""
        />
        List
      </p>
    </div>
  </div>
  <div (click)="openDatail()">
    <div class="bor-div">
      <p class="bor-bot"></p>
    </div>
    <ion-row>
      <ion-col size="6" class="flex-center">
        <div class="footer-btn text-align">
          <img src="assets/icon/location-arrow.svg" class="footer-map-icon" alt="" />
          <div>
            <p class="map-header">Orders between</p>
            <p class="map-desc">{{ distanceBtw }}</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" class="flex-center">
        <div class="footer-btn text-align">
          <img src="assets/icon/price.svg" class="price-icon" alt="" />
          <div>
            <p class="map-header">Orders between</p>
            <p class="map-desc">{{ priceBtw }}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>
