.svg-icon {
  width: 25px;
  margin-right: 7px;
}

.content-div {
  padding: 0 10px;
  background: #ffffff;
}

.username {
  font-size: 12px;
  margin: 0 0 3px 0;
  color: #8e898a;
  text-transform: capitalize;
}

.contact-no {
  font-size: 12px;
  margin: 0px 0;
  color: #340815;
  font-weight: bold;
}

.profile-btn {
  color: #8d1b3d;
  background: no-repeat;
  border: 1px solid #8d1b3d;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  --padding-start: 20%;
  --padding-end: 20%;
  margin-left: 13px;

  .shop-img {
    filter: opacity(0.7) drop-shadow(0 0 0 #8d1b3d) contrast(90%) brightness(266%);
    width: 85%;
  }
}

.menu-tabs {
  padding-top: 10px;
  border-bottom: 1px solid #f7f1f1;
}

.menu-name {
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.activetab {
  color: #8d1b3d;
  border-bottom: 3px solid #8d1b3d;
}

.deactivetab {
  color: #340815;
  border-bottom: 3px solid transparent;
}

.activeFilter {
  color: #8d1b3d;
  font-size: 12px;
  font-weight: bold;

  .filter-icon {
    width: 13%;
    margin-left: 7%;
    filter: opacity(0.5) drop-shadow(0 0 0 #8d1b3d) contrast(243%) brightness(51%) !important;
  }
}

.deactiveFilter {
  color: #8e898a;
  font-size: 12px;

  .filter-icon {
    width: 12%;
    margin-left: 7%;
  }
}

.order-filter {
  border-bottom: 1px solid #f7f1f1;
  padding-bottom: 5px;

  ion-col {
    padding: 5px 0;
  }

  .nav-btns {
    background: #ffffff;
    color: #8d1b3d;
    border-radius: none;
    font-size: 10px;
    font-weight: bold;
  }

  .btn-active {
    background: #8d1b3d;
    border-radius: 25px;
    color: #ffffff;
    font-weight: normal;
    // padding: 4px 5px 4px 5px;
    padding: 4px;
    border-radius: none;
    font-size: 9px;
    font-weight: bold;
  }

  .down-arrow {
    width: 0px;
    height: 0px;
    position: relative;
    top: 26px;
    right: 50%;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #8d1b3d;
  }
}

.selected {
  background: #fceef2;
  font-weight: bold;
  margin-bottom: 3px;
}

.refresh {
  color: #8d1b3d;
  font-size: 20px;
  position: absolute;
  top: 17px;
  left: 10px;
}

.floating-div {
  padding: 8px 8px;
  ion-col {
    padding: 0 !important;
  }

  .partial-order {
    font-size: 13px;
    font-weight: bold;
    padding-left: 5px;
    color: #8d1b3d;
  }

  .date {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #8d1b3d;
  }

  .month {
    font-size: 10px;
    margin: 0;
    color: #942b4a;
    text-transform: uppercase;
  }

  .time {
    font-size: 11px;
    margin: 3px 0 0 0;
    color: #8e898a;
  }

  .order-no {
    margin: 0;
    font-size: 13px;
    color: #8d1b3d;
    font-weight: bold;
  }

  .price {
    font-size: 14px;
    font-weight: bold;
    color: #340815;
    text-align: end;
  }

  .arrows {
    float: right;
    width: 12%;
    color: #d1a4b1;
  }
}

.myOrder-div {
  padding: 0 8px;

  .order-head {
    color: #b06279;
    font-size: 10px;
    padding-left: 5px;
    margin-bottom: 0;
    text-align: end;

    .see-all {
      font-size: 10px;
      color: #8d1b3d;
      font-weight: bold;
      padding-right: 4px;
      // float: right;
    }
  }

  .past-order {
    margin-top: 1em;
  }

  .row-div {
    border-bottom: 1px solid #f7f7f7;
    padding: 10px 0;

    ion-col {
      padding: 0;
    }
  }

  .div-height {
    max-height: 12rem;
    overflow: hidden;
  }

  .item-desc {
    padding-left: 0;
    margin-left: -10px;
  }

  .img-div {
    background: #ede4e6;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .order-date {
    margin: 0;
    font-size: 0.7rem;
    // font-size: 14px;
    font-weight: bold;
    color: #8d1b3d;
    text-align: center;
  }

  .order-month {
    font-size: 8px;
    margin: 0;
    color: #942b4a;
  }

  .order-no {
    margin: 0;
    font-size: 0.7rem;
    // font-size: 14px;
    color: #8d1b3d;
    font-weight: bold;
  }

  .order-dispatch {
    margin: 0;
    font-size: 8px;
    text-transform: capitalize;
    margin-top: 2px;
    padding: 2px;
    width: 65%;
    text-align: center;
    background: #e2d1d6;
    color: #917a81;
  }

  .order-deliver {
    margin: 0;
    font-size: 8px;
    text-transform: capitalize;
    margin-top: 2px;
    padding: 2px;
    width: 67%;
    text-align: center;
    background: #ccdfd3;
    color: #7d9e89;
  }

  .order-purged {
    margin: 0;
    font-size: 8px;
    text-transform: capitalize;
    margin-top: 2px;
    padding: 2px;
    width: 58%;
    text-align: center;
    background: #eef1fc;
    color: #838eb4;
  }

  .qty {
    color: #c7b0b7;
    font-size: 0.6rem;
    // font-size: 11px;
  }

  .total-amount {
    color: #340815;
    font-size: 0.8rem;
    // font-size: 15px;
    font-weight: bold;
    text-align: end;
  }

  .arrows {
    font-size: 10px;
    color: #d5abb7;
    float: right;
  }
}

.btn-div {
  position: absolute;
  bottom: 120%;
  left: 55%;
  width: 100%;
}

.btn-div-active {
  position: absolute;
  bottom: 345px;
  left: 55%;
  width: 100%;
}

.activeMap {
  background: #8d1b3d;
  color: #ffffff;
}

.deactiveMap {
  background: #ffffff;
  color: #c7b0b7;
}

.active-icon {
  width: 20%;
  filter: opacity(1) drop-shadow(0 0 0 #ffffff) contrast(0%) brightness(200%);
  margin: 0 10% 0 10%;
}

.deactive-icon {
  width: 20%;
  filter: opacity(0.4) drop-shadow(0 0 0 #c7b0b7) contrast(130%) brightness(287%);
  margin: 0 10% 0 10%;
}

.map-btn {
  margin: 0;
  font-size: 12px;
  border-top-left-radius: 20px;
  padding: 10px 5px;
  border-bottom-left-radius: 20px;
  width: 20%;
  box-shadow: 0px 1px 2px #888484;
}

.list-btn {
  margin: 0;
  font-size: 12px;
  border-top-right-radius: 20px;
  padding: 10px 5px;
  border-bottom-right-radius: 20px;
  width: 20%;
  box-shadow: 0px 1px 2px #888484;
}

ion-footer {
  background: #ffffff;

  ion-row {
    background: #8d1b3d;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 10px;
  }

  .bor-div {
    // position: absolute;
    // top: 2px;
    // padding: 5px 0;
    // width: 100%;
    padding-bottom: 5px 0;
    width: 100%;
    margin-top: 1px;

    .bor-bot {
      width: 40px;
      border-radius: 30px;
      border: 2px solid #811737;
      text-align: center;
      position: absolute;
      top: 0;
      margin: 10px 0 0 0;
      left: 45%;
    }
  }

  ion-col {
    padding: 15px 0;
  }

  .footer-btn {
    background: #811737;
    width: 85%;
    padding: 10px;
    border-radius: 8px;
  }

  .footer-map-icon {
    width: 13%;
    margin-right: 5%;
    border-radius: 50%;
    padding: 4px 4px 2px 2px;
    border: 1px solid #906565;
  }

  .price-icon {
    width: 13%;
    margin-right: 5%;
    border-radius: 50%;
    padding: 5px 2px 4px 3px;
    border: 1px solid #906565;
  }

  .map-header {
    margin: 0;
    font-size: 11px;
    color: #c7b0b7;
  }

  .map-desc {
    margin: 3px 0 0 0;
    font-size: 11px;
    color: #ffffff;
  }
}

.map-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  #shopMap {
    height: 100%;

    #info-content {
      background: blue;
      color: red;
      // padding: 5px !important;
    }
  }
}

.no-orders {
  font-size: 13px;
  font-weight: bold;
  color: #8e898a;
  padding-left: 6px;
}

.headings {
  font-size: 12px !important;
  color: red !important;
}

.arrow-col {
  padding: 0 !important;
  .partial-div {
    float: right;
    .partial {
      font-size: 13px;
      font-weight: bold;
      padding-right: 5px;
      color: #8d1b3d;
    }
  }
}
