<ion-content>
  <div class="popup-div sticky" (click)="closeModal()">
    <div class="bor-div">
      <p class="bor-bot"></p>
    </div>
    <ion-row class="popup-head">
      <ion-col size="6" class="flex-center">
        <div class="footer-btn text-align">
          <img src="assets/icon/location-arrow.svg" class="footer-map-icon" alt="" />
          <div>
            <p class="map-header">Orders between</p>
            <p class="map-desc">{{ distanceBtw }}</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" class="flex-center">
        <div class="footer-btn text-align">
          <img src="assets/icon/price.svg" class="price-icon" alt="" />
          <div>
            <p class="map-header">Orders between</p>
            <p class="map-desc">{{ priceBtw }}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="content-div">
    <div class="distance-range">
      <ion-row class="text-align">
        <ion-col size="3">
          <p class="head-txt">DISTANCE</p>
        </ion-col>
        <ion-col size="9">
          <ion-item class="text-align txt-ryt">
            <ion-checkbox
              mode="md"
              checked="{{ distanceCheck }}"
              (ionChange)="allDistance($event)"
            ></ion-checkbox>
            <span [ngClass]="distanceCheck == true ? 'select-txt-active' : 'select-txt'"
              >Select All</span
            >
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item class="rnge-bar">
        <ion-range
          mode="md"
          class="filter-range"
          (ionChange)="distanceRange()"
          snaps="true"
          step="2"
          ticks="false"
          value=""
          [(ngModel)]="distanceVal"
          min="1"
          max="5"
          [disabled]="distanceRangeDisable == true"
        >
        </ion-range>
      </ion-item>
      <ion-row class="range-status text-align">
        <ion-col size="4">
          <p [ngClass]="distanceVal == 1 ? 'active-rang-val' : 'rang-val'">0 - 1 km</p>
        </ion-col>
        <ion-col size="4" class="flex-center">
          <p [ngClass]="distanceVal == 3 ? 'active-rang-val' : 'rang-val'">1 - 5 km</p>
        </ion-col>
        <ion-col size="4">
          <p [ngClass]="distanceVal == 5 ? 'active-rang-val' : 'rang-val'" class="txt-ryt">
            &gt;5 km
          </p>
        </ion-col>
      </ion-row>
    </div>
    
    <div class="price-range">
      <ion-row>
        <ion-col size="3" class="text-align">
          <p class="head-txt">PRICE</p>
        </ion-col>
        <ion-col size="9">
          <ion-item class="text-align txt-ryt">
            <ion-checkbox
              mode="md"
              [checked]="priceCheck"
              (ionChange)="allPrice($event)"
            ></ion-checkbox>
            <label [ngClass]="priceCheck == true ? 'select-txt-active' : 'select-txt'"
              >Select All</label
            >
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item class="rnge-bar">
        <ion-range
          mode="md"
          class="filter-range"
          (ionChange)="priceRange()"
          snaps="true"
          step="2"
          ticks="false"
          value=""
          [(ngModel)]="priceVal"
          min="1"
          max="5"
          [disabled]="priceRangeDisable == true"
        >
        </ion-range>
      </ion-item>
      <ion-row class="range-status text-align">
        <ion-col size="4">
          <p [ngClass]="priceVal == 1 ? 'active-rang-val' : 'rang-val'">
            <span *ngIf="country == 'Qatar'">QAR</span>
            <span *ngIf="country =='India'">INR</span>
            0 - {{priceRangeData.initialThreshold}}
          </p>
        </ion-col>
        <ion-col size="4" class="flex-center">
          <p [ngClass]="priceVal == 3 ? 'active-rang-val' : 'rang-val'">
            <span *ngIf="country == 'Qatar'">QAR</span>
            <span *ngIf="country =='India'">INR</span>
            {{priceRangeData.initialThreshold}} - {{priceRangeData.finalThreshold}}
          </p>
        </ion-col>
        <ion-col size="4">
          <p [ngClass]="priceVal == 5 ? 'active-rang-val' : 'rang-val'" class="txt-ryt">
            <span *ngIf="country == 'Qatar'">QAR</span>
            <span *ngIf="country == 'India'">INR</span>
            > {{priceRangeData.finalThreshold}}
          </p>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
