.btn-div {
  position: absolute;
  bottom: 120%;
  left: 55%;
  width: 100%;

  .activeMap {
    background: #8d1b3d;
    color: #ffffff;
  }

  .deactiveMap {
    background: #ffffff;
    color: #c7b0b7;
  }

  .active-icon {
    width: 20%;
    filter: opacity(1) drop-shadow(0 0 0 #ffffff) contrast(0%) brightness(200%);
    margin: 0 10% 0 10%;
  }

  .deactive-icon {
    width: 20%;
    filter: opacity(0.4) drop-shadow(0 0 0 #c7b0b7) contrast(130%) brightness(287%);
    margin: 0 10% 0 10%;
  }

  .map-btn {
    margin: 0;
    font-size: 13px;
    border-top-left-radius: 20px;
    padding: 10px 5px;
    border-bottom-left-radius: 20px;
    width: 20%;
    box-shadow: 0px 1px 2px #888484;
  }

  .list-btn {
    margin: 0;
    font-size: 13px;
    border-top-right-radius: 20px;
    padding: 10px 5px;
    border-bottom-right-radius: 20px;
    width: 20%;
    box-shadow: 0px 1px 2px #888484;
  }
}

.popup-div {
  background: #8d1b3d;

  ion-row {
    background: #8d1b3d;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .bor-div {
    padding-bottom: 5px 0;
    width: 100%;

    .bor-bot {
      width: 40px;
      border-radius: 30px;
      border: 2px solid #811737;
      text-align: center;
      position: absolute;
      top: 0;
      margin: 10px 0 0 0;
      left: 45%;
    }
  }

  ion-col {
    padding: 25px 0 15px 0;
  }

  .footer-btn {
    background: #811737;
    width: 85%;
    padding: 10px;
    border-radius: 8px;
  }

  .footer-map-icon {
    width: 13%;
    margin-right: 5%;
    border-radius: 50%;
    padding: 4px 4px 2px 2px;
    border: 1px solid #906565;
  }

  .price-icon {
    width: 13%;
    margin-right: 5%;
    border-radius: 50%;
    padding: 5px 2px 4px 3px;
    border: 1px solid #906565;
  }

  .map-header {
    margin: 0;
    font-size: 11px;
    color: #c7b0b7;
  }

  .map-desc {
    margin: 3px 0 0 0;
    font-size: 11px;
    color: #ffffff;
  }
}

.content-div {
  ion-row {
    padding: 0 0 0 16px;
  }

  ion-col {
    padding: 0;
  }

  p {
    margin: 0;
  }

  .distance-range {
    border-bottom: 1px solid #f9f9f9;
    padding-bottom: 10px;
  }

  ion-item {
    --border-style: none;
  }

  ion-checkbox {
    --background-checked: #8d1b3d;
    --border-color-checked: #8d1b3d;
    --border-color: #c7b0b7;
    height: 15px;
    width: 15px;
  }

  .head-txt {
    color: #8d1b3d;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
  }

  ion-item {
    // --inner-padding-end: 0;
  }

  .rnge-bar {
    margin-top: -10px;

    .slider-input {
      width: 100%;
    }

    input[type="range"] {
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: #8d1b3d;
      cursor: pointer;
      margin: -10px 0 0 0px;
    }
    // input[type="range"]:focus::-webkit-slider-thumb {
    //   -webkit-appearance: none;
    //   height: 25px;
    //   width: 25px;
    //   border-radius: 50%;
    //   background: red;
    //   cursor: pointer;
    //   margin: -10px 0 0 0px;
    // }

    input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 1.5px;
      cursor: pointer;
      background: transparent;
      // border-radius: 5px;
      border: 1.5px solid #8d1b3d;
    }
    input[type="range"]:focus::-webkit-slider-runnable-track {
      background: yellow;
      color: red;
    }

    input[type="range"]:focus {
      background: blue;
      outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }
  }

  .select-txt {
    font-size: 11px;
    float: right;
    color: #8e898a;
    margin-left: 7px;
  }

  .select-txt-active {
    font-size: 11px;
    float: right;
    color: #8d1b3d;
    font-weight: bold;
    margin-left: 7px;
  }

  ion-range {
    --bar-background: #fdf9fa;
    --bar-background-active: #8d1b3d;
    --bar-height: 4px;
    --knob-background: #8d1b3d;
    --knob-size: 30px;
    padding: 0 25px 0 15px;
  }

  .range-status {
    padding: 0 16px;

    ion-col {
      padding: 0;
    }

    p {
      margin: 0;
    }

    .active-rang-val {
      font-size: 11px;
      color: #8d1b3d;
      font-weight: bold;
    }

    .rang-val {
      font-size: 11px;
      color: #8e898a;
      font-weight: bold;
    }
  }
}
