<ion-content>
  <div class="ion-text-center background-img ion-padding">
    <div class="content-div">

      <div class="flex-center">
        <img src="assets/imgs/logo_full_white_3.png" class="logo-img" alt="" />
      </div>

      <div class="flex-center">
        <div class="input-div">
          <form [formGroup]="formValidate" *ngIf="forgotPass == false">
            <ion-item>
              <ion-label position="stacked">Phone Number</ion-label>
              <div class="codeNumberDiv">
                <ion-select class="selectCss" placeholder="" formControlName="countryCode" (ionChange)="selectCode($event)"
                [ngClass]="{ 'is-invalid': isSubmit && valid.countryCode.errors }">
                  <ion-select-option value="+91">+91</ion-select-option>
                  <ion-select-option value="+974">+974</ion-select-option>
                </ion-select>
                <ion-input
                  formControlName="phone_number"
                  [ngClass]="{ 'is-invalid': isSubmit && valid.phone_number.errors }"
                  type="number"
                  placeholder="Enter mobile number"
                ></ion-input>
              </div>
              <div class="err-msg" *ngIf="isSubmit && valid.countryCode.errors">
                <small *ngIf="isSubmit && valid.countryCode.errors.required">Please select country code.</small>
              </div>
              <div class="err-msg" *ngIf="isSubmit && valid.phone_number.errors">
                <small *ngIf="isSubmit && valid.phone_number.errors.required">Phone number is required</small>
                <small *ngIf="isSubmit && valid.phone_number.errors.minlength
                || isSubmit && valid.phone_number.errors.maxlength">Please enter correct phone number.</small>
                <!-- <small *ngIf="isSubmit && valid.phone_number.errors.minlength">Phone number should be 8 digits.</small>
                <small *ngIf="isSubmit && valid.phone_number.errors.maxlength">Phone number should be 8 digits.</small> -->
                <small *ngIf="isSubmit && valid.phone_number.errors.pattern">Please enter only digits.</small>
              </div>
              <p class="err-msg" *ngIf="errMsg == true">
                <small *ngIf="countryCode == '+974'">Phone number, should be 8 digits.</small>
                <small *ngIf="countryCode == '+91'">Phone number, should be 10 digits.</small>
              </p>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Password*</ion-label>
              <ion-input
                type="password"
                formControlName="password"
                [ngClass]="{ 'is-invalid': isSubmit && valid.password.errors }"
                placeholder="Enter password"
              ></ion-input>
              <div class="err-msg" *ngIf="isSubmit && valid.password.errors">
                <small *ngIf="isSubmit && valid.password.errors.required">Password is required</small>
              </div>
            </ion-item>
            <ion-button class="login-btn" (click)="signin()">login</ion-button>
            <!-- <ion-button class="login-btn" (click)="request()">Request password reset</ion-button> --> 
            <p class="desc-txt mr-top10">
              Forgot password? <span class="link" (click)="request()">Request reset</span>
            </p>
          </form>
          
          <p class="desc-txt" *ngIf="forgotPass == false">
            Don't have an account? <span class="link" (click)="signup()">Register Here</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
