.content-div {
  padding: 0 25px;
}

.back-btn {
  --background: transparent;
  --color: #340815;
  --box-shadow: none;
  font-size: 16px;
  margin-left: 5px;
  text-transform: capitalize;
  font-weight: bold;
}

.back-icon {
  font-size: 15px;
  height: 8px;
  width: 8px;
  color: #340815;
  margin-right: 10px;
}

.svg-icon {
  width: 40%;
  margin-left: 10%;
  filter: opacity(0.5) drop-shadow(0 0 0 #8d1b3d) contrast(111%) brightness(255%);
}

.card-row {
  padding: 12px 0px;
  background: #fceef2;
  border-radius: 8px;
}

.bor-btm {
  border-bottom: 1px solid #fbf5f5;
}

.order-lft-time {
  font-size: 13px;
  font-weight: bold;
  color: #8d1b3d;
  margin: 0;
}

.order-desc {
  font-size: 12px;
  line-height: 1.5em;
  margin: 5px 0 0 0;
  color: #8e898a;
}

ion-col {
  padding: 5px 0;
}

ion-label {
  font-size: 13px;
  color: #340815;
  font-weight: bold;
}

ion-toggle {
  float: right;
}

.radio-div {
  padding: 0 17px 0px 27px;
}

.toggle-active {
  ion-toggle {
    --background-checked: #fceef2;
    --handle-background-checked: #8d1b3d;
  }

  ion-label {
    font-size: 13px;
    color: #8d1b3d;
    font-weight: bold;
  }
}

.toggle-deactive {
  ion-toggle {
    --background-checked: #9e9e9e;
    --handle-background-checked: #ffffff;
  }
}

.notify-toggle {
  color: #8d1b3d;
  padding: 15px 0 10px 0;
  border-bottom: 1px solid #fbf5f5;
  ion-label {
    font-size: 13px;
    color: #8d1b3d !important;
  }
}

ion-toggle.toggle-checked {
  --background-checked: #fceef2;
  --handle-background-checked: #8d1b3d;
  color: #8d1b3d !important;
  padding-left: 10px !important;
}

.other-toggle {
  color: #340815;
  padding-top: 15px;
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --border-style: none;

  ion-label {
    font-size: 13px;
  }
}

ion-footer {
  padding: 0 25px;

  .order-btn {
    text-transform: capitalize;
    font-size: 14px;
    color: #ffffff;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 25px;
    --background: #8d1b3d;
    --border-radius: 10px;
    --padding-top: 23px;
    --padding-bottom: 23px;
  }
}
