<!-- <ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" class="back-btn text-align">
      <img src="assets/icon/Back_Arrow.svg" alt="" class="back-icon" />
      Notifications
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="content-div">
      <ion-row class="card-row text-align">
        <ion-col size="2" class="flex-center">
          <img src="assets/icon/Notification.svg" alt="" class="svg-icon" />
        </ion-col>
        <ion-col size="10">
          <p class="order-lft-time">Your all notification settings</p>
          <p class="order-desc">In case you have a preference then please select so</p>
        </ion-col>
      </ion-row>
    </div>

    <div class="radio-div">
      <ion-list>
        <ion-row class="text-align bor-btm">
          <ion-col size="10">
            <ion-label [ngClass]="selectAll ? 'notify-toggle' : ''"
              >Notify for all order status changes</ion-label
            >
          </ion-col>
          <ion-col size="2">
            <ion-toggle
              mode="md"
              (ionChange)="setAllNotification($event)"
              [checked]="selectAll"
            ></ion-toggle>
          </ion-col>
        </ion-row>

        <div class="other-toggle">
          <ion-row class="text-align" *ngFor="let notification of notificationList">
            <ion-col size="10">
              <ion-label [ngClass]="notification.isChecked ? 'notify-toggle' : ''">{{
                notification.name
              }}</ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-toggle
                mode="md"
                [value]="notification"
                (ionChange)="setNotification($event)"
                [checked]="notification.isChecked"
                [disabled]="checkDisable"
              ></ion-toggle>
            </ion-col>
          </ion-row>
        </div>
      </ion-list>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button class="order-btn" (click)="saveCahges()">Save Changes</ion-button>
</ion-footer> -->
