<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" class="back-btn text-align">
      <img src="assets/icon/Back_Arrow.svg" alt="" class="back-icon" />
      Delivery Time
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="content-div">
      <ion-row class="card-row text-align">
        <ion-col size="2" class="flex-center">
          <img src="assets/icon/DeliveryTime.svg" alt="" class="svg-icon" />
        </ion-col>
        <ion-col size="10">
          <p class="order-lft-time">Please set your expected delivery time for customers to view</p>
        </ion-col>
      </ion-row>

      <div class="order-row">
        <p class="order-head">Delivery time for Orders 0-1 km</p>
        <div class="text-align">
          <ion-button
            *ngFor="let time of time1"
            class="text-align"
            [ngClass]="time.isActive == true ? 'btn-active' : ''"
            (click)="distance1(time)"
            >{{ time.val }}</ion-button
          >
        </div>
      </div>

      <div class="order-row">
        <p class="order-head">Delivery time for Orders 1-5 km</p>
        <div class="text-align">
          <ion-button
            *ngFor="let time of time2"
            class="text-align"
            [ngClass]="time.isActive == true ? 'btn-active' : ''"
            (click)="distance2(time)"
            >{{ time.val }}</ion-button
          >
        </div>
      </div>

      <div class="order-row">
        <p class="order-head">Delivery time for Orders further than 5 km</p>
        <div class="text-align">
          <ion-button
            *ngFor="let time of time3"
            class="text-align"
            [ngClass]="time.isActive == true ? 'btn-active' : ''"
            (click)="distance3(time)"
            >{{ time.val }}</ion-button
          >
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>

<ion-footer class="footer-btn">
  <ion-button class="order-btn" (click)="timeChangesApply()">Save Changes</ion-button>
</ion-footer>
