.content-div {
  padding: 0 25px;
}

.back-btn {
  --background: transparent;
  --color: #340815;
  --box-shadow: none;
  font-size: 16px;
  margin-left: 5px;
  text-transform: capitalize;
  font-weight: bold;
}

.back-icon {
  font-size: 15px;
  height: 8px;
  width: 8px;
  color: #340815;
  margin-right: 10px;
}

.svg-icon {
  width: 40%;
  filter: opacity(0.5) drop-shadow(0 0 0 #8d1b3d) contrast(111%) brightness(255%);
  margin-left: 10%;
}

.card-row {
  padding: 12px 0px;
  background: #fceef2;
  border-radius: 8px;
}

.order-lft-time {
  font-size: 13px;
  font-weight: bold;
  color: #8d1b3d;
  margin: 0;
}

.order-desc {
  font-size: 12px;
  line-height: 1.5em;
  margin: 5px 0 0 0;
  color: #8e898a;
}

.phone {
  margin: 5px 0;
  font-size: 14px;
  color: #340815;
  font-weight: bold;
  letter-spacing: 1px;
}

.input-div {
  width: 100%;
  margin-top: 2em;
}

ion-item.item-has-focus > ion-label {
  color: #ffffff;
  --border-style: #340815;
}

ion-item.item-has-focus > ion-input {
  color: #8d1b3d;
  border: 1px solid #8d1b3d;
  font-weight: bold;
}

:host {
  ion-item {
    --highlight-color-focused: transparent;
    --highlight-background: transparent;
  }
}

ion-label {
  padding-bottom: 20px !important;
  font-size: 14px !important;
  color: #340815 !important;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

ion-input {
  border: 1px solid #efeaea;
  border-radius: 7px;
  letter-spacing: 1px;
  font-size: 13px;
  --padding-start: 12px !important;
  --placeholder-opacity: 0.2;
}

ion-item {
  --border-style: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  --padding-bottom: 10px;
}

.numberDiv {
  display: flex;
  width: 100%;
}
.countryCode {
  border: 1px solid #efeaea;
  border-radius: 7px;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 8px;
  margin: 0;
  margin-right: 8px;
  width: 20%;
}