<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" class="back-btn text-align">
      <img src="assets/icon/Back_Arrow.svg" alt="" class="back-icon" />
      Change Phone Number
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="content-div">
      <ion-row class="card-row text-align">
        <ion-col size="2" class="flex-center">
          <img src="assets/icon/Mobile.svg" alt="" class="svg-icon" />
        </ion-col>
        <ion-col size="10">
          <p class="order-lft-time">Your current phone number is</p>
          <p class="phone">{{ userDetail.countryCode || "eg.  +***" }} - {{ userDetail.phone_number || "eg.  9999 1111" }}</p>
          <p class="order-desc">Provide another and save to change it</p>
        </ion-col>
      </ion-row>

      <div class="input-div">
        <form [formGroup]="formValidate">
          <ion-item>
            <ion-label position="stacked">Phone Number</ion-label>
            <div class="numberDiv">
              <p class="countryCode">{{ userDetail.countryCode}}</p>
              <ion-input formControlName="phone_number" placeholder="eg. 4444 2222"></ion-input>
            </div>
          </ion-item>
        </form>
      </div>
    </div>
  </ion-list>
</ion-content>

<ion-footer class="footer-btn">
  <ion-button class="order-btn" (click)="changeNumber()">Save New Number</ion-button>
</ion-footer>
