/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Quicksand-font";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}

.Quicksand-font {
  font-family: "Quicksand-font", sans-serif !important;
}

.md,
.ios {
  font-family: "Quicksand-font", sans-serif !important;
  --font-family: "Quicksand-font", sans-serif !important;
}

.wid-ht-header-btns {
  width: 40px;
  height: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-md::after,
.tabs-md[tabsPlacement="top"] > .tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background-image: none !important;
}

.toolbar-background {
  --background: white !important;
}

img.header-icon {
  width: 10px;
}

.toolbar {
  min-height: 56px !important;
}

ion-toolbar {
  --border-style: none !important;
  border: none !important;
}

ion-title {
  text-align: left;
  font-weight: 500 !important;
  font-size: 20px !important;
  text-transform: initial;
  color: #000000;
  letter-spacing: 0.5px;
}

ion-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

ion-footer {
  background: #ffffff;
  --background: #ffffff;
  border: none !important;
  --border: none !important;
}

.footer-btn {
  padding: 2px 20px 10px 20px;

  .order-btn {
    text-transform: capitalize;
    font-size: 14px;
    color: #ffffff;
    width: 100%;
    --background: #8d1b3d;
    --border-radius: 10px;
    letter-spacing: 0.5px;
    margin: 0;
  }
}

.ios {
  ion-title {
    padding-left: 50px !important;
  }

  ion-button {
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
  }
}

.md {
  ion-title {
    padding-left: 15px !important;
  }
}

button:focus {
  outline: none !important;
}

.wid-100 {
  width: 100% !important;
}

.hi-100 {
  height: 100% !important;
}

.text-align {
  align-items: center;
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-padding {
  padding: 0 !important;
}

.pad-lft-0 {
  padding-left: 0 !important;
  --padding-start: 0 !important;
}

.pad-ryt-0 {
  padding-right: 0 !important;
  --padding-end: 0 !important;
}

.pad-top-0 {
  padding-top: 0 !important;
  --padding-top: 0 !important;
}

.pad-btm-0 {
  padding-bottom: 0 !important;
  --padding-bottom: 0 !important;
}

.txt-lft {
  float: left;
}

.txt-ryt {
  float: right;
}

.text-center {
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.main-searchbar {
  .searchbar-input {
    padding: 0 40px;
    font-size: 14px;
    font-weight: bold;
  }

  .searchbar-search-icon {
    position: absolute !important;
    top: 3px;
    width: 17px;
    color: #8d1b3d;
  }
}

.cart-modal .modal-wrapper {
  width: 100%;
  height: 500px;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image-modal .modal-wrapper {
  width: 100%;
  margin: 0 25px;
  height: 310px;
  border-radius: 15px;
  padding: 10px;
}

.thanks-modal .modal-wrapper {
  height: 200px !important;
}

.contact-modal .modal-wrapper {
  width: 100%;
  height: 340px;
  margin: 0 25px;
  --border-radius: 10px;
}

.additional-item-modal .modal-wrapper {
  width: 100%;
  height: 315px;
  margin: 0 25px;
  --border-radius: 10px;
}

.logout-alert {
  --max-width: 90%;
  --width: auto;
  color: #c7afb6;

  .alert-button {
    color: #8d1b3d;
    font-weight: bold;
    font-size: 11px;
    text-transform: capitalize;
    border-radius: 7px;
    background: #fceef2 !important;
    padding: 5px 25px !important;
    box-shadow: none;
    border: none;
  }

  .alert-wrapper {
    border-radius: 12px !important;
  }

  .alert-head {
    color: #8d1b3d !important;
    font-weight: bold !important;
    padding-bottom: 7px !important;
  }

  .alert-title {
    color: #8d1b3d !important;
    font-weight: bold !important;
    font-size: 14px !important;
    text-align: left !important;
  }

  .alert-message {
    color: #8e898a;
    font-size: 14px !important;
    text-align: left;
  }

  .alert-button-group {
    padding-bottom: 15px;
    padding-right: 16px;
  }

  .alert-button-role-cancel {
    background: none !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.select-distance-modal .modal-wrapper {
  width: 100%;
  max-height: 315px;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ion-datetime {
  font-weight: bold;
  --padding-start: 0;
  letter-spacing: 5px;
}